#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v

GO_PACKAGE=github.com/Lyoncore/ubuntu-recovery-image

export GOPATH=$(CURDIR)/debian/go_build
# HOME, needed by bzr log
export HOME=$(CURDIR)/debian/home
# tmpdir for go run
TMPDIR=$(CURDIR)/debian/tmp

%:
	dh $@ --parallel

override_dh_auto_configure:
	mkdir -p $(HOME)
	mkdir -p $(TMPDIR)
	mkdir -p $(GOPATH)/src/$(dir $(GO_PACKAGE))
	rsync -a --exclude='debian' $(CURDIR)/. $(GOPATH)/src/$(GO_PACKAGE)
	go get launchpad.net/godeps
	cd $(GOPATH)/src/$(GO_PACKAGE) && $(GOPATH)/bin/godeps -t -u dependencies.tsv
	cd $(GOPATH)/src/$(GO_PACKAGE) && TMPDIR=$(TMPDIR) go run build.go build

override_dh_install:
	dh_install --sourcedir=$(GOPATH)/src/$(GO_PACKAGE) ubuntu-recovery-image $(DESTDIR)/usr/bin

# These are not needed for go programs
override_dh_pysupport override_dh_pysupport2 override_dh_perl override_dh_auto_build:

override_dh_clean:
	rm -rf $(GOPATH)
	rm -rf $(HOME)
	rm -rf $(TMPDIR)
	dh_clean

